<h1>{{vm.teste}}</h1>
<button type="button" class="btn btn-success" ng-click="vm.navegar()">Navegar</button>

<div class="container">
    <form>
        <div class="form-group">
          <label for="matricula">Matricula</label>
          <input type="text" class="form-control" id="matricula" ng-model="vm.aluno.matricula" placeholder="Matricula">
        </div>
        
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" ng-model="vm.aluno.nome" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="serie">Serie</label>
            <input type="text" class="form-control" id="serie" ng-model="vm.aluno.serie" placeholder="Serie">
          </div>


        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="text" class="form-control" id="idade" ng-model="vm.aluno.idade" placeholder="Idade">
          </div>

      </form>
   

        <button type="button" class="btn btn-success" ng-click="vm.matricularAl()">Cadastrar</button>
</div>